<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation targetFramework="4.5" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="CoreRestBinding"
                 closeTimeout="1:00:00"
                 openTimeout="1:00:00"
                 sendTimeout="1:00:00"
                 receiveTimeout="1:00:00"
                 maxBufferSize="10000000"
                 maxReceivedMessageSize="10000000"
                 maxBufferPoolSize="10000000">
          <readerQuotas maxArrayLength="10000000" maxStringContentLength="10000000"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="SimpleWCF.Service1" behaviorConfiguration="CoreRestServiceBehavior">
        <endpoint name="Core"
                  contract="SimpleWCF.IService1"
                  kind="webHttpEndpoint"
                  isSystemEndpoint="false"
                  binding="webHttpBinding"
                  bindingConfiguration="CoreRestBinding"
                  behaviorConfiguration="CoreRestEndpointBehavior"/>
        <endpoint kind="mexEndpoint"
                  contract="IMetadataExchange"
                  address="mex"
                  name="Metadata"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CoreRestServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CoreRestEndpointBehavior"/>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <add value="Service1.svc" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="Data Rule" stopProcessing="true">
          <match url="^Data/([0-9]+)" />
          <action type="Rewrite" url="service1.svc/Data/{R:1}" />
        </rule>
        <rule name="Data2 Rule" stopProcessing="true">
          <match url="^Data2/([0-9]+)" />
          <action type="Rewrite" url="service1.svc/Data2/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>

</configuration>
